.profile-aside {
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%);
    padding: 25px;
}


.profile-data {
    background: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 5%);
    padding: 25px;
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-gap: 25px;
}
.profile-avatar {
    width: 230px;
    height: 250px;
    object-fit: cover;
    display: block;
}
.profile-username {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 15px;
    border-bottom: 1px solid rgb(0 0 0 / 15%);
    padding-bottom: 15px;
}
.profile-info-item {
    color: grey;
    margin-bottom: 5px;
}
.profile-info-item > span {
    color: #000;
}
.profile-info-buttons {
    display: flex;
    margin-top: auto;
}


.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.profile-info-buttons > .profile-exit {
    border: 1px solid var(--red);
    color: var(--red);
    margin-left: 15px;
}
.profile-info-buttons > .profile-exit:hover {
    background: var(--red);
}